@model Vidly.ViewModels.CustomersViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (Model.Customers.Count == 0)
{
    <p>There are no customers currently.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <tr>
            <th>Movie</th>
        </tr>

        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>@customer.Name</td>
            </tr>
        }
    </table>
}

